---
title: "ADViCE Knowledge Base"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/glass-building.jpg
  actions:
    - label: "Join the mailing list"
      url: "https://assets-gbr.mkt.dynamics.com/cd69a60c-3e6e-41d1-9cc4-5dc606fed704/digitalassets/standaloneforms/02f1dcd2-538c-ee11-be36-6045bd0e6795"

#excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."
intro: 
  - excerpt: 'ADViCE is dedicated to innovative AI technologies to support the transition to Net Zero. 
  This site is a collection of resources produced by the ADViCE team, related to the usage of AI for decarbonising high-emitting industries. 
  In here, you will find ADViCE reports, webinars, white papers, blog posts, and much more.'
feature_row:
  - image_path: assets/images/reports-thumbnail.png
    alt: "ADViCE Reports"
    title: "ADViCE Reports"
    url: "/reports/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    #excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/webinars-thumbnails.png
    #image_caption: "ADViCE Webinars"
    alt: "ADViCE Webinars"
    title: "ADViCE Webinars"
    url: "/webinars/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/challenge-card-thumbnail.png
    title: "Decarbonisation Challenge Cards"
    url: "https://collaro-it.github.io/advice-challenge/"
    btn_label: "Try out the ADViCE Challenge Cards!"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/combine-harvester.jpg
    alt: "ADViCE Blog"
    title: "Blog"
    url: "/blog/"
    excerpt: "Thought leadership on how AI and data science can aid industry decarbonisation"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/solar-panel.jpg
    title: "Resources"
    excerpt: "External reports, white papers, case studies, and other useful links related to AI for Decarbonisation"
    url: "/resources/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}